.carousel {
	overflow: hidden;
}

.carousel__content {
	max-width: var(--width-tight);
	margin: 0 auto 2rem auto;
	padding: 0 var(--gutter);
}

.carousel__content *:first-child {
	margin-top: 0;
}

.swiper-container {
	margin-left: var(--gutter);
	overflow: visible;
	width: 100%;
}
@media (min-width: 1600px) {
	.swiper-container {
		margin-left: calc((((100% - 1600px) / 2) + var(--gutter)));
	}
}

.swiper-slide {
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	width: 280px;
	height:400px;
	padding: 2rem;
	background-color: #f1f1f1;
}

@media (min-width: 735px) {
	.swiper-slide {
		width: 346px;
	}
}

.swiper-slide * {
	max-width: 100%;
}

.swiper-slide img,
.swiper-slide video{
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
}

.swiper-slide *:first-child {
	margin-top: 0;
}

.swiper-slide h2, .swiper-slide h3, .swiper-slide h4, .swiper-slide h5, .swiper-slide h6,
.swiper-slide p {
	padding: 0;
	margin-left: 0;
}





/*================================
CUSTOM
==================================*/

.carousel .swiper-slide {
	background-color: #e8e8e8;
	border-radius: 20px;
}

.carousel .swiper-slide img {
	justify-content: flex-start;
	width: 20%;
}