/* GRID ==================================================================*/
.module.grid .grid__grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr); 
	max-width: var(--width-body);
	text-align: left;
}

@media (min-width: 735px) {
	.module.grid .grid__grid {
		grid-template-columns: repeat(3, 1fr); 
	}
}

@media (min-width: 1000px) {
	.module.grid .grid__grid {
		grid-template-columns: repeat(3, 1fr); 
	}
}

.module.grid .grid__item {
    background-color: #e8e8e8;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.module.grid .grid__item h2,
.module.grid .grid__item p:nth-child(1) {
	flex-grow: 1;
}

.module.grid .grid__item .btn-round, 
.module.grid .grid__item .btn-square {
	width: 100%;
}

.module.grid .grid__item img {
	width: 20%;
}


/*BUTTONS=========================================================================*/

a.btn-link:after {
	background-image: url(../images/buttons/chevron_right-green.svg);
}

a.btn-down:after {
	background-image: url(../images/buttons/arrow_down-green.svg);
}

a.btn-ext:after {
	background-image: url(../images/buttons/open_in_new-green.svg);
}

a.btn-back:before {	
	background-image: url(../images/buttons/chevron_left-green.svg);
}

a.btn-round:hover,
a.btn-square:hover {
	background-color: #00ad9d;
}





/*CONTENT=========================================================================*/

.content h1 {
	margin-bottom: var(--rhythm);
	text-align: center;
}

.splash .content h1 {
	margin-bottom: 0;
}

.content blockquote, .content blockquote>p {
	max-width: var(--width-body);
	text-align: center;
}





/*SPLASH==========================================================================*/

.splash.smaller_h1 h1 {
 font-size: 1.5rem;
}
@media (min-width: 735px) {
    .splash.smaller_h1 h1 {
     font-size: 2rem;
    }
}





/*FOOTER===========================================================================*/

.footer__top {
	justify-content: center;
}

.footer__nav {
	width: 100%;
}
@media (min-width: 735px) {
	.footer__nav {
		width: 33.33%;
	}
}

.footer__nav ul {
	font-family: var(--font-alt);
	font-weight: normal;
}


.footer__nav ul ul {
	font-family: var(--font-base);
}


/*ADDRESS*/

.footer__address {
	margin-top: calc(var(--rhythm)/2);
	line-height: 1.6;
	font-size: 1em;
	width: 100%;
}

@media (min-width: 735px) {
	.footer__address {
		margin-top: 0;
		width: 33.33%;
	}
}

.footer__address h2
{
	margin: 0 0 1rem 0;
	font-size: 14px;
}

.footer__address div {
	opacity: 0.7;
}

/*NEWSLETTER*/

.footer__newsletter {
	margin-top: calc(var(--rhythm)/2);
	width: 100%;

}
@media (min-width: 735px) {
	.footer__newsletter {
		margin-top: 0;
		width: 33.33%;
	}
}

.footer__newsletter h2
{
	margin: 0 0 1rem 0;
	font-size: 14px;
}

#mc_embed_signup input[type=email], #mc_embed_signup input[type=text] {
     margin-top: 0; 
}

.footer__bottom .copyright,
.footer__bottom .terms {
	margin-right: 1rem;
}
