.embed__ctn {
	max-width: 1200px;
	margin: 2rem auto;
}

.embed.youtube,
.embed.vimeo {
	position: relative;
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	width: 100%;
	margin-top: 1rem;
}

.embed.youtube iframe,
.embed.vimeo iframe {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}
