/*===========================================
					VARS 
============================================*/

html {
  --color-bg: #FFF;
  --color-fg: #000;
  --color-hl: #ff5722;
  --color-hl-inverted: #FFF;

  --width-tight: 835px;
  --width-body: 1200px;
  --width-site: 1600px;
  --width-full: 1920px;
  --gutter: 32px;
  --rhythm: 125px;
  --header-heigth: 5rem;
}





/*===========================================
					FONTS 
============================================*/

/* inter-200 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('../fonts/Inter/inter-v1-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Inter/inter-v1-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/Inter/inter-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Inter/inter-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/Inter/inter-v1-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Inter/inter-v1-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/Inter/inter-v1-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Inter/inter-v1-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  --font-base: 'Inter', sans-serif;
  --font-alt: 'Inter', sans-serif; 
  font-size: 16px;
  font-family: var(--font-base);
}





/*===========================================
					MISC 
============================================*/

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

::selection {
  background-color: var(--color-hl); 
  color: var(--color-hl-inverted);
}





/*===========================================
					MODULES 
============================================*/

.module {
  position: relative;
  margin-top: var(--rhythm);
  z-index: 1000;
}

/*FIX FIRST MODULE TOP MARGIN*/
#content > .module:nth-child(1) {
    margin-top: calc(var(--rhythm) - var(--header-heigth)/2);
}

/*OPTIONALS*/
.module.padded {
  padding: var(--rhythm) 0 var(--rhythm) 0;
  background-color: #000;
  color: #fff;
}

.module.no_margin {
  margin-top: 0;
}

.module.double_margin {
  margin-top: calc(var(--rhythm)*2);
  margin-bottom: var(--rhythm);
}





/*===========================================
					UTILS 
============================================*/

/*BREAKPOINT*/

.landscape{display: block;}
@media (max-width: 735px) {.landscape {display: none;}}
.portrait {display: block;}
@media (min-width: 735px) {.portrait {display: none;}}


/*WIDTH*/

.tight {
  max-width: var(--width-tight);
  width: 100%;
  margin: 0 auto;
}

.body {
  max-width: var(--width-body);
  width: 100%;
  margin: 0 auto;
}

.site {
  max-width: var(--width-site);
  width: 100%;
  margin: 0 auto;
}

.full {
  max-width: var(--width-full);
  width: 100%;
  margin: 0 auto;
}

/*RHYTHM*/

.rhythm {
  margin-top: var(--rhythm);
}

.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}





/*======================================
          PAGE OPTIONALS
==========================================*/

body.remove_footer_margin footer {
  margin-top: 0;
}