h1 {
  font-size: 2rem;
  line-height: 1.4;
}
@media (min-width: 735px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-weight: 900;
  margin-top: 3rem;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media (min-width: 735px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.4;
}
@media (min-width: 735px) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 1rem;
}

p:empty{
  display: none;
}

strong, 
p strong {
  font-weight: 700;
}

em, 
p em {
  font-style: italic;
}

sup {
  font-size: 10px;
}

blockquote>p {
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0;
}
@media (min-width: 735px) {
  blockquote>p {
    font-size: 2rem;
  }
}

pre {
  margin-top: 1rem;
  padding: 0 var(--gutter) 0 var(--gutter);
  font-family: monospace;
}

pre code {
  display: block;
  padding: 1rem;
  border-radius: 4px;
  color: #f1f1f1;
  background-color: #1a2429;

  overflow-x: auto;
}

ul, ol {
  margin-top: 1rem;
  line-height: 1.6;
  list-style-position: inside;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li > p {
  display: inline;
  padding: 0;
}

p a {
  color: inherit;
  text-decoration: underline;
}